html {
    font-size: 12px;
}

body {
    font-family: Helvetica Neue, Verdana, Arial, Hiragino Sans GB, WenQuanYi Micro Hei, Heiti SC, STHeiti, Microsoft Yahei, SimSun, sans-serif;
}

header {
    padding: 15px 0 10px;
    font-size: 28px;
    font-weight: 700;
}
header p {
    font-size: 14px;
    font-weight: 500;
}
.title{
    line-height: 50px;
    margin-top: 12px;
    font-weight: 700;
    font-size: 20px;
}
.panel{
    height: 180px;
    position: relative;
}
.panel-title{
    text-align: center;
}
.panel .btn {
    width: 60%;
    margin: 0 20%;
    position: absolute;
    bottom: 10px;
}

.btn-foot {
    margin-top: 15px;
    margin-bottom: 15px;
}