body {
    margin: 0;
    padding: 0;
    background: #eff0f4;
    color: #68cdd5;
    line-height: 3rem;
}

.container {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    background: #68cdd5;
    color: #ffffff;
}

.left {
    display: inline-block;
    padding: 0 1rem;
    text-decoration: none;
    color: #fff;
    position: absolute;
    left: 0;
    top: 0;
}

.right {
    display: inline-block;
    padding: 0 1rem;
    text-decoration: none;
    color: #fff;
    position: absolute;
    right: 0;
    top: 0;
}

.input {
    padding: 0;
    font-size: 0;
    background: #ffffff;
}

a.forget {
    color: #68cdd5;
    text-decoration: none;
    float: right;
    margin: 0 1rem;
}

img {
    padding: 0 1.5rem;
    vertical-align: middle;
}

input {
    vertical-align: middle;
    border: none;
}

input:focus {
    outline: 0;
}