/* Normalize */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: Helvetica Neue, Verdana, Arial, Hiragino Sans GB, WenQuanYi Micro Hei, Heiti SC, STHeiti, Microsoft Yahei, SimSun, sans-serif;
    margin: 0;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}

a {
    color: #337ab7;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #23527c;
    text-decoration: none;
}

a:focus {
    outline: 0;
}

img {
    border: 0;
    vertical-align: middle;
}

.tl {
    text-align: left;
}

.tc {
    text-align: center;
}

.pd-15 {
    padding: 15px;
}

.mg-15 {
    margin: 15px;
}

.fs-25 {
    font-size: 25px;
}

.c-f {
    color: #fff;
}

.c-0 {
    color: #000;
}

.c-blue {
    color: #29bde0;
}

.c-orange {
    color: #fbb435;
}

.c-red {
    color: #f56b81;
}

.bg-blue {
    background-color: #29bde0;
    color: #fff;
}

.flex-center {
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content:center;
    justify-content:center;
}

.hide {
    display: none;
}

/* Content styles */

body {
    background: #f0f0f0;
}


/* 侧边栏切换键，隐藏的checkbox */
#sidenav-toggle {
    display: none;
}

.toggle-1 {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
}

.toggle-1>div {
    border: 1px solid #fff;
    height: 0;
    margin: 6px 3px;
}

.toggle-2 {
    display: none;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
}


 /*侧边栏左移出屏幕区域*/
.sidenav {
    position: fixed;
    width: 200px;
    height: 100%;
    -webkit-box-shadow: 6px 0 6px rgba(0, 0, 0, .2);
            box-shadow: 6px 0 6px rgba(0, 0, 0, .2);
    background-color: #fff;
    left: -220px;
    transition: all .25s linear;
    z-index: 3;
}

.sidenav .sidenav-heading {
    height: 60px;
    padding: 15px 20px;
    background-color: #29bde0;
    font-size: 20px;
    color: #fff;
}
/* item左移出屏幕区域 */
.sidenav>a {
    position: relative;
    display: block;
    line-height: 50px;
    border-bottom: 1px solid #ddd;
    padding-left: 20px;
    font-size: 16px;
    color: #29bde0;
    left: -200px;
    transition: all .25s linear;
}

.icon-1 {
    width: 20px;
    height: 20px;
}

.sidenav-text {
    vertical-align: middle;
}

.arrow-2 {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 12px;
    height: 20px;
}


/* sidenav回位 */
#sidenav-toggle:checked~.sidenav {
    left: 0;
}
/* item回位 */
#sidenav-toggle:checked~.sidenav>a {
    left: 0;
}

/* 开启toggle-2，目的：点击侧边栏右侧区域即可收起 */
#sidenav-toggle:checked~.toggle-2 {
    display: block;
}
/* 各item回位时间不同，做出动画效果 */
#sidenav-toggle:checked~.sidenav>a:nth-of-type(1) {
    transition-delay: 0.08s;
}

#sidenav-toggle:checked~.sidenav>a:nth-of-type(2) {
    transition-delay: 0.16s;
}

#sidenav-toggle:checked~.sidenav>a:nth-of-type(3) {
    transition-delay: 0.24s;
}

#sidenav-toggle:checked~.sidenav>a:nth-of-type(4) {
    transition-delay: 0.32s;
}

#sidenav-toggle:checked~.sidenav>a:nth-of-type(5) {
    transition-delay: 0.40s;
}

.header {
    position: fixed;
    width: 100%;
    padding: 0 15px;
    line-height: 60px;
    height: 60px;
    z-index: 1;
    background: #29bde0;
    color: #fff;
    font-size: 18px;
    border-bottom: 1px solid #74d4eb;
}

.back {
    position: absolute;
    left: 15px;
}

.arrow-3 {
    height: 20px;
    width: auto;
}

.main {
    padding: 75px 15px 15px;
}

a.lastgame {
    position: relative;
    display: block;
    width: 100%;
    line-height: 50px;
    padding: 0 30px;
    color: #9a9a9a;
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.arrow-1 {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 12px;
    height: 20px;
}

.version-choice {
    width: 100%;
    margin-top: 12px;
    position: relative;
}

.triangle-r {
    border-color: transparent transparent transparent #fbb435;
    border-style: solid;
    border-width: 20px;
    height: 0;
    width: 0;
    position: absolute;
    right: -6px;
    top: 210px;
}

.triangle-l {
    border-color: transparent #fbb435 transparent transparent;
    border-style: solid;
    border-width: 20px;
    height: 0;
    width: 0;
    position: absolute;
    left: -6px;
    top: 210px;
}

.version {
    display: none;
    padding: 10px 40px;
    color: #9a9a9a;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.version a {
    display: inline-block;
    line-height: 70px;
    margin: 10px 0;
    background: #29bde0;
    color: #fff;
    font-size: 20px;
    width: 90%;
    border-radius: 5px;
}

.circle-1 {
    display: inline-block;
    background: #ddd;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin: 10px 4px;
}

.panel {
    background: #fff;
    border: 1px solid #d0d0d0;
    padding: 15px;
    margin-bottom: 10px;
}

.panel-title {
    color: #fbb435;
    font-size: 18px;
    border-bottom: 1px solid #fbb435;
    padding-bottom: 10px;
}

.panel-item {
    margin: 15px 0;
}

input.gamer {
    padding: 5px;
    width: 60px;
    border-radius: 4px;
}

input.word {
    padding: 5px;
    width: 160px;
    border-radius: 4px;
}

input.range {
    width: 100%;
}

.btn {
    display: inline-block;
    width: 80%;
    padding: 10px;
    background: #fca000;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
}

.circle-2 {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
}

.deal {
    display: none;
    padding: 80px 0 75px;
    height: 100vh;
    overflow-y: auto;
}
.deal-panel {
    position: relative;
    border:3px solid #fff;
    border-radius: 5px;
    background-color: #ffedc5;
    margin: 0 auto;
    width:  80%;
    height: 430px;
}

.deal-num {
    display: inline-block;
    position: absolute;
    top: -15px;
    left: 50%;
    margin-left: -15px;
    width: 30px;
    height: 30px;
    line-height: 27px;
    border:1px solid #ffedc5;
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    color: #f56b81;
}

.deal-reverse {
    padding-top: 100px;
}

.deal-front {
    display: none;
    padding-top: 30px;
}

.deal-tip {
    padding: 15px;
    border-top: 1px solid #fff;
    color: #fca000;
}

.deal-list {
    display: none;
}

.list-item {
    float: left;
    width: 23vw;
    height: 23vw;
    margin: 4vw 5.166vw;
    border: 1vw solid #fff;
    background: #f5c97b;
}

.item-name {
    height: 70%;
    width: 100%;
    font-size: 5vw;
    color: #000;
}

.item-num {
    height: 30%;
    width: 100%;
    background-color: #83b09a;
    font-size: 3vw;
}

#taiben.main {
    padding-top: 60px;
}

.day-title {
    position: relative;
    font-size: 16px;
}

.arrow-4 {
    position: absolute;
    right: 15px;
    top: 22px;
    width: 15px;
    height: 8.5px;
}

.day-title.panel {
    margin-bottom: 0;
    margin-top: 15px;
}

.day-content {
    position: relative;
    border: 1px solid #d9d9d9;
    padding: 25px 30px 10px 60px;
    background-color: #fff;
}

.day-item {
    position: relative;
    width: 100%;
    line-height: 30px;
    font-size: 16px;
    margin-bottom: 20px;
}

.day-item b {
    display: inline-block;
    position: absolute;
    top: 9px;
    left: -20px;
    width: 0;
    height: 0;
    border-color: transparent #29bde0 transparent transparent;
    border-style: solid;
    border-width: 6px 14px 6px 6px;
}

.day-img {
    position: absolute;
    left: 5px;
    top: 0px;
    width: 30px;
    height: 103px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 15px;
    background-color: #29bde0;
}

.main .footer {
    margin-left: -15px;
    background-color: rgba(41, 189, 224, .5);
}

.poll {
    display: none;
    padding: 60px 0 75px;
    height: 100vh;
    overflow-y: auto;
}

.poll-h1 {
    padding: 10px 15px;
    background: #b9e9f5;
    position: relative;
}

.poll-h2 {
    padding: 0 30px;
}

.triangle-t {
    border-color: #b9e9f5 transparent transparent transparent;
    border-style: solid;
    border-width: 16px 8px 8px 8px;
    height: 0px;
    width: 0px;
}

#poll .deal-list {
    display: block;
}

.win {
    position: relative;
    padding: 75px 30px 15px;
}

.win-img {
    width: 210.6px;
    height: 123px;
}

.win-text {
    position: absolute;
    top: 158px;
    left: 50%;
    margin-left: -2em;
    font-size: 22px;
}

.end-log {
    padding: 10px 30px;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
}

.log-title {
    font-size: 16px;
    margin-bottom: 5px;
}

.log-text {
    color: #888;
}

/*放在最下的，可用来覆盖上面的属性*/
.bg-orange {
    background-color: #fbb435;
    color: #fff;
}

.active {
    display: block;
}