body {
    margin-bottom: 8rem;
}

header {
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    position: relative;
    color: #fff;
    font-size: 2rem;
    border-bottom: 1px solid #74d4eb;
    background-color: #29bde0;
}

main {
    background-color: #29bde0;
    padding-top: 1rem;
}

.sprites {
    display: block;
    background-image: url(../images/img14.png);
    background-repeat: no-repeat;
}


/*icon1 缩放20.8*/

.icon1 {
    width: 2.4286rem;
    height: 2rem;
    background-size: 16.7143rem 14.619rem;
    background-position: 0rem -10.2381rem;
    position: absolute;
    left: 1rem;
    top: 1rem;
}


/*icon2 缩放20*/

.icon2 {
    width: 2rem;
    height: 2rem;
    background-size: 17.55rem 15.35rem;
    background-position: 0rem -13.35rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
}


/*icon3 缩放20.5*/

.icon3 {
    width: 17.122rem;
    height: 10rem;
    background-size: 17.122rem 14.9756rem;
    background-position: 0 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.win {
    padding-top: 6.4rem;
    font-size: 2.3rem;
    color: #fff;
}

.info1 {
    color: #ffc865;
    padding: 0.5rem 3rem 1rem;
    font-size: 2rem;
    font-weight: 700;
}

.info2 {
    color: #fff;
    padding: 1rem 3rem 3rem;
    font-size: 1.8rem;
}

.info3 {
    background: #fff;
    padding: 0.5rem 3rem 1rem;
    border-bottom: 1px solid #ccc;
}

.day {
    float: left;
    font-size: 2rem;
}

.time {
    float: right;
    padding-top: 0.6rem;
    color: #ccc;
}

.content {
    color: #999;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(41, 189, 224, .5);
}

footer .btn {
    width: 45%;
    line-height: 2.5rem;
    margin: 1rem 2.5%;
}